<li class="task-item" data-id="<%= task.id %>">
  <h2>Title<%= task.title %></h2>
  <p>Description <%= task.description %></p>
  <p>Conatact Name <%= task.contact %></p>
  <p>Completion status: <%= task.status %></p>
  <p>Category: <%= task.category %></p>
  <p>Complete this task by <%= task.due %></p>
</li>